<!doctype html>
<html>
<head>
  <title>Mad Libs</title>
</head>
<body>
	<form action="/madlib">
		<br>Pick a person: 
		<select name="teacher">
			<option value="Joel">Joel</option>
			<option value="Meggie">Meggie</option>
			<option value="Henry">Henry</option>
			<option value="Katie">Katie</option>
			<option value="Meg">Meg</option>
			<option value="Ally">Ally</option>
			<option value="Leslie">Leslie</option>
		</select>
		<br><br>Supply a noun:
		<input type="text" name="noun">
		<br><br>Choose a color:
		<input type="text" name="color">
		<br><br>Choose an adjective:
		<input type="text" name="adjective">
		<br><br><input type="submit">
	</form>

</body>
</html>
<html>
